// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext');

// Variables
@import 'variables';

@import "~font-awesome/scss/font-awesome";
@import "~font-awesome/css/font-awesome";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~baguettebox.js/dist/baguetteBox';

body{background-color: #fff;}
.card{padding-bottom:3px;}
.content{padding-top:7px;}